@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');
:root {
    --gold: #e2bc60;
}
*{
    font-family: 'Noto Naskh Arabic', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
body {
    direction: rtl;
    background-color: #f2f2f2;
}
.title {
    width: fit-content;
    margin: auto;
}
.title::after {
    content: '';
    height: 12px;
    position: relative;
    background-color: #eec970;
    display: block;
    margin: auto;
    z-index: -1;
    top: -32px;
    border-radius: 5px;
}
@media (max-width: 683px) {
    .title::after {
        height: 8px;
        top: -29px;
    }
}
.navbar {
    background-color: #f2f2f2;
    padding-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 4px;
}
.navbar .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .navbar-brand img {
    height: 80px;
}
.navbar .navbar-brand h3 {
    padding-right: 2px;
    color: var(--gold);
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 600;
}
.navbar .navbar-toggler {
    border: none;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .nav-item {
    margin-top: 13px;
    font-size: 19px;
    padding: 0 2px 0 0;
}
.navbar .nav-link {
    color: #282828;
}
.navbar .nav-link:hover {
    color: var(--gold);
}
@media (max-width: 426px) {
   .navbar .navbar-brand img {
        height: 68px;
   }
   .navbar .navbar-brand h3 {
        font-size: 28px;
   }
}
.landing {
    padding: 0px 20px 10px;
}
.landing .main-text {
    position: relative;
    margin: auto 0;
    max-width: 450px;
    font-size: 23px;
}
.landing .img {
    margin-bottom: 75px;
}
.landing img {
    max-height: 350px;
}
@media (max-width: 992px) {
    .landing .container {
        padding: 0;
    }
    .landing .main-text {
        max-width: 450px;
        font-size: 23px;
    }
}
@media (max-width: 767.5px) {
    .landing {
        padding-top: 30px;
    }
    .landing .img {
        display: none;
    }
    .landing .main-text {
        margin: auto;
    }
}
@media (max-width: 457px) {
    .landing .main-text {
        font-size: 19px;
    }
}
@media (max-width: 340px) {
    .landing .main-text {
        font-size: 16px;
    }
}
.content {
    background-color: #ffffff52;
    min-height: 8em;
    width: 13em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    margin: 10px;
    justify-content: center;
}
@media (max-width: 426px) {
    .content {
        min-height: 5em;
    }
}
.content img {
    width: 57px;
}
.content a {
    color: #282828;
    margin: 0 10px 0 0;
    font-size: 21px;
}
.content a:hover {
    color: var(--gold);
}
@media (max-width: 457px) {
    .content {
        width: 11em;
    }
    .content img {
        width: 52px;
    }
    .content a {
        margin: 0 8px 0 0;
        font-size: 20px;
    }
}
#contact .content {
    width: 18em;
    min-height: 10em;
}
#contact .content img {
    width: 70px;
    margin-bottom: 2px;
    padding-bottom: 12px;
}
#contact .content p {
    font-size: 20px;
    color: #5c5c5c;
    font-family: sans-serif;
    margin-bottom: 0;
}
@media (max-width: 426px) {
    #contact .content {
        width: 16em;
        min-height: 7em;
    }
    #contact .content img {
        width: 68px;
        padding-bottom: 0;
    }
    #contact .content p {
        font-size: 18px;
    }
}
footer {
    color: #282828;
    background-color: #ffffff52;
    box-shadow: rgba(0, 0, 0, 0.03) 0px -1px 3px;
}
footer .container {
    height: 80px;
}
footer .copyright {
    font-family: sans-serif;
    font-weight: 600;
}
footer .copyright span {
    color: var(--gold);
    font-family: sans-serif;
}
footer .socials {
    list-style: none;
    margin: auto 0;
}
footer .socials a{
    color: var(--gold);
    font-size: 23px;
    padding-left: 7px;
}
@media (max-width: 426px) {
    footer .container {
        height: 70px;
    }
    footer .socials a{
        font-size: 20px;
    }
}
@media (max-width: 348px) {
    footer .copyright {
        font-size: 15px;
    }
}
@media (max-width: 310px) {
    footer .socials a{
        font-size: 18px;
    }
    footer .copyright {
        font-size: 12px;
    }
}
/* Athkar CSS */
.info {
    align-items: center;
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 1rem 1rem 0 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.info .thikr {
    font-size: 1.3em;
    flex-basis: 90%;
    line-height: 2.1rem;
    margin-bottom: 14px;
}
.info .thikr span {
    display: block;
    color: #666;
    font-size: 1.2rem;
}
.info .bless {
    font-size: 0.9em;
    color: #777;
    line-height: normal;
    padding-top: 5px;
}
.info .repeat {
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: #f3c75d;
    width: 4.3em;
    height: 4.3em;
    padding-top: 0.4em;
}
@media (max-width: 426px) {
    .info .thikr {
        margin-bottom: 0;
    }
    .info .bless {
        line-height: 1.7rem;
    }
}